@model IEnumerable<ENETCareMVCApp.Models.CostByDistrict>

@{
    ViewBag.Title = "CostByDistrictReport";
}

<h2>CostByDistrictReport</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DistrictName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalLabour)
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DistrictName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalLabour)
        </td>          
    </tr>
}

</table>
