@model IEnumerable<ENETCareMVCApp.Models.Intervention>

@{
    ViewBag.Title = "PreviousInterventionList";
}

<h2>PreviousInterventionList</h2>
@*@if(ViewData["CompletedInterventionState"].Equals(true))
{
    <h2>HAAAAAAAAAHAAAAA</h2>
}*@


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterventionType.InterventionTypeName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.LabourRequired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostRequired)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.InterventionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterventionState)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RemainingLife)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEditDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApproveUserID)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.ClientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterventionType.InterventionTypeName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.LabourRequired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostRequired)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.InterventionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterventionState)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RemainingLife)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastEditDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>s
            @Html.DisplayFor(modelItem => item.ApproveUserID)
        </td>*@        
        <td>@if (!(item.InterventionState.ToString() == "Completed"))
            {
                @Html.ActionLink("Change Intervention State", "ChangeInterventionState", new { id = item.InterventionID })
            }
        </td>        
    </tr>
}

</table>
