
@{
    ViewBag.Title = "Index";
}

<h2>Accountant Home Page</h2>

<br />

<p class="text-success">@ViewBag.StatusMessage</p>

<br />

<p>
    @Html.ActionLink("List of SiteEngineer & Manager", "Index", "Users", null, new { @class = "link-button" })
</p>
<p>
    @Html.ActionLink("Total Costs By Engineer", "TotalCostByEngineerReport", "Interventions", null, new { @class = "link-button" })
</p>
<p>
    @Html.ActionLink("Average Costs By Engineer", "AverageCostByEngineerReport", "Interventions", null, new { @class = "link-button" })
</p>
<p>
    @Html.ActionLink("Cost By District", "CostByDistrictReport", "Interventions", null, new { @class = "link-button" })
</p>
<p>
    @Html.ActionLink("Monthly Cost for Districts", "DistrictListForMonthlyCost", "Interventions", null, new { @class = "link-button" })
</p>

<p>
    @Html.ActionLink("Change Password", "ChangePassword", "Manage", null, new { @class = "link-button" })
</p>