@{
    ViewBag.Title = "Index";
}

<h2>Site Engineer Home Page</h2>
<br/>

<p class="text-success">@ViewBag.StatusMessage</p>

<br />

<p>
    @Html.ActionLink("Create New Client", "Create", "Clients", null, new { @class = "link-button" })
</p>

<p>
    @Html.ActionLink("All Client List", "Index", "Clients", null, new { @class = "link-button" })
</p>
<p>
    @Html.ActionLink("Create New Intervention", "Create", "Interventions", null, new { @class = "link-button" })
</p>
<p>
    @Html.ActionLink("All Intervention List", "Index", "Interventions", null, new { @class = "link-button" })
</p>
<p>
    @Html.ActionLink("Previous Intervention List", "PreviousInterventionList", "Interventions", null, new { @class = "link-button" })
</p>

<p>
    @Html.ActionLink("Change Password", "ChangePassword", "Manage", null, new { @class = "link-button" })
</p>