@{
    ViewBag.Title = "Index";
}
<script>
    function noBack() { window.history.forward() }
    noBack();
    window.onload = noBack;
    window.onpageshow = function (evt) { if (evt.persisted) noBack() }
    window.onunload = function () { void (0) }
</script>

<h2>Site Engineer Home Page</h2>
<br/>

<p class="text-success">@ViewBag.StatusMessage</p>

<br />

<p>
    @Html.ActionLink("Create New Client", "Create", "Clients", null, new { @class = "link-button" })
</p>

<p>
    @Html.ActionLink("All Client List", "Index", "Clients", null, new { @class = "link-button" })
</p>
<p>
    @Html.ActionLink("All Client List With Interventions", "ClientListWithIntervention", "Clients", null, new { @class = "link-button" })
</p>
<p>
    @Html.ActionLink("Create New Intervention", "Create", "Interventions", null, new { @class = "link-button" })
</p>
<p>
    @Html.ActionLink("All Intervention List", "Index", "Interventions", null, new { @class = "link-button" })
</p>
<p>
    @Html.ActionLink("Previous Intervention List", "PreviousInterventionList", "Interventions", null, new { @class = "link-button" })
</p>

<p>
    @Html.ActionLink("Change Password", "ChangePassword", "Manage", null, new { @class = "link-button" })
</p>